<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<context:annotation-config />
	<context:component-scan
		base-package="training.spring.autowire" />



	<bean id="speaker" class="training.spring.autowire.Speaker">
		<property name="type" value="mono" />
		<property name="volLevels" value="30" />
	</bean>

	<bean id="screen" class="training.spring.autowire.Screen">
		<property name="glassType" value="Tuffun" />
		<property name="len" value="6" />
		<property name="bre" value="3" />
	</bean>

	<bean id="camera" class="training.spring.autowire.Camera">
		<property name="type" value="VGA" />
		<property name="lensLength" value="55x200" />
	</bean>


</beans>